<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}{% if title %} - {% endif %}Eorzean Armory</title>

		<meta property="og:site_name" content="Eorzean Armory" />
        <meta property="og:title" content="{% if title %}{{ title }}{% else %}Eorzean Armory{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ pageURL }}" />
        {% if desc %}<meta property="og:description" content="{{ desc }}" />{% endif %}
		{% if featuredImage %}
        <meta property="og:image" content="{{ featuredImage }}" />
		<meta property="twitter:image" content="{{ featuredImage }}" />
		<meta property="twitter:card" content="summary_large_image" />
		{% endif %}

		<link rel="icon" href="/favicon.svg">
		<link rel="mask-icon" href="/mask-icon.svg" color="#000000">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="/w3.css">
		<link rel="stylesheet" type="text/css" href="/style.css">

		<script src="https://kit.fontawesome.com/8c73704824.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</head>
	<body class="w3-content">
		<header>
			<div class="w3-top">
				<div class="w3-bar" id="sitenav">
					<a href="/index.html" class="w3-bar-item" id="site-title" style="margin-block-start:5px; margin-block-end:5px;"><strong>Eorzean Armory</strong></a>
					<div class="w3-dropdown-hover w3-bar-item w3-mobile w3-hide-small">
						<button class="w3-button w3-mobile">Weapons
							<i class="fa fa-caret-down"></i>
						</button>
						<div id="weapons-dropdown-menu" class="w3-dropdown-content w3-card-4 w3-mobile">
						<div class="w3-cell-row">
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/pld/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/pld.webp" id="class-icon"> Paladin/Gladiator</a>
								<a href="/weapons/shields/index.html" class="w3-bar-item w3-button w3-mobile" style="text-indent: 30px;"><img src="/images/icons/shield.webp" id="class-icon"> Shields</a>
								<a href="/weapons/war/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/war.webp" id="class-icon"> Warrior/Marauder</a>
								<a href="/weapons/drk/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/drk.webp" id="class-icon"> Dark Knight</a>
								<a href="/weapons/gnb/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/gnb.webp" id="class-icon"> Gunbreaker</a>
							</div>
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/whm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/whm.webp" id="class-icon"> White Mage/Conjurer</a>
								<a href="/weapons/sch/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/sch.webp" id="class-icon"> Scholar/Arcanist</a>
								<a href="/weapons/ast/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/ast.webp" id="class-icon"> Astrologian</a>
								<a href="/weapons/sge/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/sge.webp" id="class-icon"> Sage</a>
							</div>
						</div>
						<hr>
						<div class="w3-cell-row">
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/mnk/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/mnk.webp" id="class-icon"> Monk/Pugilist</a>
								<a href="/weapons/drg/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/drg.webp" id="class-icon"> Dragoon/Lancer</a>
								<a href="/weapons/nin/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/nin.webp" id="class-icon"> Ninja/Rogue</a>
								<a href="/weapons/sam/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/sam.webp" id="class-icon"> Samurai</a>
								<a href="/weapons/rpr/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/rpr.webp" id="class-icon"> Reaper</a>
								<!--<a href="/weapons/vpr/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/vpr.webp" id="class-icon"> Viper</a>-->
							</div>
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/brd/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/brd.webp" id="class-icon"> Bard/Archer</a>
								<a href="/weapons/mch/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/mch.webp" id="class-icon"> Machinist</a>
								<a href="/weapons/dnc/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/dnc.webp" id="class-icon"> Dancer</a>
							</div>
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/blm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/blm.webp" id="class-icon"> Black Mage/Thaumaturge</a>
								<a href="/weapons/smn/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/smn.webp" id="class-icon"> Summoner/Arcanist</a>
								<a href="/weapons/rdm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/rdm.webp" id="class-icon"> Red Mage</a>
								<a href="/weapons/blu/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/blu.webp" id="class-icon"> Blue Mage</a>
								<!--<a href="/weapons/pct/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/pct.webp" id="class-icon"> Pictomancer</a>-->
							</div>
						</div>
						</div>
					</div>
					<div class="w3-dropdown-hover w3-bar-item w3-mobile w3-hide-small">
						<button class="w3-button w3-mobile">Tools
							<i class="fa fa-caret-down"></i>
						</button>
						<div id="tools-dropdown-menu" class="w3-dropdown-content w3-bar-block w3-card-4 w3-mobile">
							<a href="/tools/crp/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/crp.webp" id="class-icon"> Carpenter</a>
							<a href="/tools/bsm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/bsm.webp" id="class-icon"> Blacksmith</a>
							<a href="/tools/arm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/arm.webp" id="class-icon"> Armorer</a>
							<a href="/tools/gsm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/gsm.webp" id="class-icon"> Goldsmith</a>
							<a href="/tools/ltw/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/ltw.webp" id="class-icon"> Leatherworker</a>
							<a href="/tools/wvr/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/wvr.webp" id="class-icon"> Weaver</a>
							<a href="/tools/alc/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/alc.webp" id="class-icon"> Alchemist</a>
							<a href="/tools/cul/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/cul.webp" id="class-icon"> Culinarian</a>
							<hr />
							<a href="/tools/min/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/min.webp" id="class-icon"> Miner</a>
							<a href="/tools/btn/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/btn.webp" id="class-icon"> Botanist</a>
							<a href="/tools/fsh/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/fsh.webp" id="class-icon"> Fisher</a>
						</div>
					</div>
					<div class="w3-dropdown-hover w3-bar-item w3-mobile w3-hide-small">
						<button class="w3-button w3-mobile">Accessories
							<i class="fa fa-caret-down"></i>
						</button>
						<div id="accessories-dropdown-menu" class="w3-dropdown-content w3-bar-block w3-card-4 w3-mobile">
							<a href="/accessories/bracelets/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/bracelet.webp" id="class-icon"> Bracelets</a>
							<a href="/accessories/earrings/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/earring.webp" id="class-icon"> Earrings</a>
							<a href="/accessories/necklaces/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/necklace.webp" id="class-icon"> Necklaces</a>
							<a href="/accessories/rings/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/ring.webp" id="class-icon"> Rings</a>
						</div>
					</div>
					<!-- <a href="#contact">Contact</a> -->
					<a href="/about" class="w3-button w3-bar-item w3-hide-small" style="margin-block-start:8px; margin-block-end:8px;">About</a>
  					<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()" style="margin-block-start:8px; margin-block-end:8px;">&#9776;</a>
				</div>

				<div class="w3-bar w3-hide w3-hide-large w3-hide-medium" id="mobile-navbar">
					<div class="w3-dropdown-hover w3-bar-item w3-mobile">
						<button class="w3-button w3-mobile">Weapons
							<i class="fa fa-caret-down"></i>
						</button>
						<div id="weapons-dropdown-menu" class="w3-dropdown-content w3-card-4 w3-mobile">
						<div class="w3-cell-row">
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/pld/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/pld.webp" id="class-icon"> Paladin/Gladiator</a>
								<a href="/weapons/shields/index.html" class="w3-bar-item w3-button w3-mobile" style="text-indent: 30px;"><img src="/images/icons/shield.webp" id="class-icon"> Shields</a>
								<a href="/weapons/war/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/war.webp" id="class-icon"> Warrior/Marauder</a>
								<a href="/weapons/drk/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/drk.webp" id="class-icon"> Dark Knight</a>
								<a href="/weapons/gnb/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/gnb.webp" id="class-icon"> Gunbreaker</a>
							</div>
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/whm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/whm.webp" id="class-icon"> White Mage/Conjurer</a>
								<a href="/weapons/sch/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/sch.webp" id="class-icon"> Scholar/Arcanist</a>
								<a href="/weapons/ast/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/ast.webp" id="class-icon"> Astrologian</a>
								<a href="/weapons/sge/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/sge.webp" id="class-icon"> Sage</a>
							</div>
						</div>
						<hr>
						<div class="w3-cell-row">
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/mnk/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/mnk.webp" id="class-icon"> Monk/Pugilist</a>
								<a href="/weapons/drg/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/drg.webp" id="class-icon"> Dragoon/Lancer</a>
								<a href="/weapons/nin/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/nin.webp" id="class-icon"> Ninja/Rogue</a>
								<a href="/weapons/sam/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/sam.webp" id="class-icon"> Samurai</a>
								<a href="/weapons/rpr/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/rpr.webp" id="class-icon"> Reaper</a>
								<!--<a href="/weapons/vpr/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/vpr.webp" id="class-icon"> Viper</a>-->
							</div>
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/brd/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/brd.webp" id="class-icon"> Bard/Archer</a>
								<a href="/weapons/mch/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/mch.webp" id="class-icon"> Machinist</a>
								<a href="/weapons/dnc/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/dnc.webp" id="class-icon"> Dancer</a>
							</div>
							<div class="w3-bar-block w3-container w3-cell w3-mobile">
								<a href="/weapons/blm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/blm.webp" id="class-icon"> Black Mage/Thaumaturge</a>
								<a href="/weapons/smn/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/smn.webp" id="class-icon"> Summoner/Arcanist</a>
								<a href="/weapons/rdm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/rdm.webp" id="class-icon"> Red Mage</a>
								<a href="/weapons/blu/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/blu.webp" id="class-icon"> Blue Mage</a>
								<!--<a href="/weapons/pct/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/pct.webp" id="class-icon"> Pictomancer</a>-->
							</div>
						</div>
						</div>
					</div>
					<div class="w3-dropdown-hover w3-bar-item w3-mobile">
						<button class="w3-button w3-mobile">Tools
							<i class="fa fa-caret-down"></i>
						</button>
						<div id="tools-dropdown-menu" class="w3-dropdown-content w3-bar-block w3-card-4 w3-mobile">
							<a href="/tools/crp/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/crp.webp" id="class-icon"> Carpenter</a>
							<a href="/tools/bsm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/bsm.webp" id="class-icon"> Blacksmith</a>
							<a href="/tools/arm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/arm.webp" id="class-icon"> Armorer</a>
							<a href="/tools/gsm/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/gsm.webp" id="class-icon"> Goldsmith</a>
							<a href="/tools/ltw/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/ltw.webp" id="class-icon"> Leatherworker</a>
							<a href="/tools/wvr/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/wvr.webp" id="class-icon"> Weaver</a>
							<a href="/tools/alc/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/alc.webp" id="class-icon"> Alchemist</a>
							<a href="/tools/cul/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/cul.webp" id="class-icon"> Culinarian</a>
							<hr />
							<a href="/tools/min/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/min.webp" id="class-icon"> Miner</a>
							<a href="/tools/btn/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/btn.webp" id="class-icon"> Botanist</a>
							<a href="/tools/fsh/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/fsh.webp" id="class-icon"> Fisher</a>
						</div>
					</div>
					<div class="w3-dropdown-hover w3-bar-item w3-mobile">
						<button class="w3-button w3-mobile">Accessories
							<i class="fa fa-caret-down"></i>
						</button>
						<div id="accessories-dropdown-menu" class="w3-dropdown-content w3-bar-block w3-card-4 w3-mobile">
							<a href="/accessories/bracelets/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/bracelet.webp" id="class-icon"> Bracelets</a>
							<a href="/accessories/earrings/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/earring.webp" id="class-icon"> Earrings</a>
							<a href="/accessories/necklaces/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/necklace.webp" id="class-icon"> Necklaces</a>
							<a href="/accessories/rings/index.html" class="w3-bar-item w3-button w3-mobile"><img src="/images/icons/ring.webp" id="class-icon"> Rings</a>
						</div>
					</div>
					<!-- <a href="#contact">Contact</a> -->
					<a href="/about" class="w3-button w3-bar-item" style="margin-block-start:8px; margin-block-end:8px;">About</a>
				</div>
			</div>
		</header>
		<main {% if main_id %}id="links"{% endif %} {% if main_class %}class="gallery"{% endif %}>
			{{ content | safe }}
		</main>
		<footer>
			<br>
			<hr>
			FINAL FANTASY XIV © 2010-2024 SQUARE ENIX CO., LTD. All Rights Reserved.
		</footer>

		<script>
			function myFunction() {
				var x = document.getElementById("mobile-navbar");
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
					x.className = x.className.replace(" w3-show", "");
				}
			}
		</script>
	</body>
</html>