---
layout: base_layout.njk
pagination:
  data: xiv_items
  size: 1
  alias: item
permalink: "/{{ item.path }}/{{ item.slug }}/index.html"
eleventyComputed:
  title: "{{ item.name }}"
---
{% for image in item.images %}
<img class="centered-and-cropped" src="/images/{{ item.path }}/{{image}}/{{ item.slug }}-{{image}}.webp" alt="">
{% else %}
<img class="centered-and-cropped" src="/images/{{ item.path }}/{{ item.slug }}.webp" alt="">
{% endfor %}