---
layout: base_layout.njk
main_id: "links"
main_class: "gallery"
pagination:
  data: gallery_data
  size: 1
  alias: gallery
permalink: "/{{ gallery.path }}/index.html"
eleventyComputed:
  title: "{{ gallery.name }}"
  desc: "{{ gallery.desc }}"
---
<h1>{{ gallery.name }}</h1>
{% for item in xiv_items %}{% if item.gallery == gallery.name and item.isFirstOfModel and item.ShowInGallery %}
<a href="/{{ item.path }}/{{ item.slug }}/index.html"><img class="centered-and-cropped" src="/images/{{ item.path }}/{{ item.slug }}{% if gallery.gallery_image %}-{{ gallery.gallery_image }}{% endif %}.webp" alt="" /></a>
{%- endif %}{% endfor %}